body {
    background-color: antiquewhite;
    color: black;
}

.intro {
    margin: 0 10% 0 10%;
    width: 80%;
    text-align: center;
}

.quote {
    padding: 7% 0 7% 0;
    float: left;
    text-align: justify;
    width: 40%;
}

.portrait {
    display: inline-block;
    /*float: right;*/
    width: 40%;

}

.bio {
    padding: 5% 20%;
}